{% extends 'body.html' %}

{% block content %}
<div id="title-form">
    <h2 class="fw-bolder">{{title}}</h2>
</div>


<div id="div-form">
    <form id="Form-form" method="POST" enctype="multipart/form-data" onsubmit="return submitForm(this);">
        {% csrf_token %}

        <input type="hidden" name="action" value="{{ action }}">
        {% for field in form.visible_fields %}

        {% block conditional %}

        {% endblock %}

        <div class="form-group">
            {{ field }}
        </div>
        <div class="form-floating mb-3"></div>
        {% endfor %}


        <!-- Submit Button-->
        <div class="d-grid">
            <button class="button-confirm" id="submitButton" type="submit"><a>Guardar </a><i
                    class="bi bi-upload"></i></button>
        </div>
    </form>
</div>
{% endblock %}